.sidebar {
  display: flex;
  height: 100%;
  width: 100%;
}

.content {
  height: 100%;
  width: 100%;
  background-image: linear-gradient( 173.1deg,  rgba(226,66,249,0.94) 10.2%, rgba(79,147,249,1) 77.3% );
}
