<!DOCTYPE html>
<html lang="en">
<head>
  <title>Index</title>
</head>
<body>
      <form method="post" action="/data">
           <input type="text" name="name" placeholder="Enter username">
           <input type="email" name="email" placeholder="Enter Email">
           <button type="submit" >send data</button>
      </form>
</body>
</html>