<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Data</title>
</head>
<body>

    <h1>name:<%=userData.name%></h1>
    <h1>email:<%=userData.email%></h1>
    
</body>
</html>